/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: #f0f0f0;
  background-image: url(./pictures/login6.jpg);
 background-position: center;
  background-size: cover;
} */

body{
  justify-content: center;

  display: flex;
  height: 100%;
  background-image: url(pictures/login13.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10%  ;
}
.container {
 background-color: rgba(247, 247, 247, 0.639);
 border-radius: 20px;
 padding: 30px;
 width: 400px;
 text-align: center;
}

button {
  padding: 10px 20px;
  
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}
h2{
  font-family: initial;
}
label{
font-family: Georgia, 'Times New Roman', Times, serif;
padding:7px;
}

